.link a {
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.link a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}
.link a.underline:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.overlay {
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#careers_mosaic {
  color: #fff;
}
#careers_mosaic .col-md-12,
#careers_mosaic .col-md-7,
#careers_mosaic .col-md-5 {
  padding: 0;
  overflow: hidden;
}
#careers_mosaic .visible {
  overflow: visible;
}
#careers_mosiac .link,
.col-md-12 .link,
.col-md-7 .link,
.col-md-5 .link {
  position: absolute;
  bottom: 20px;
  color: #fff;
  font-size: 1.75rem;
}
#careers_mosiac .subtitle,
.col-md-12 .subtitle,
.col-md-7 .subtitle,
.col-md-5 .subtitle {
  font-size: 1.5em;
  display: block;
}
#careers_mosiac h1,
.col-md-12 h1,
.col-md-7 h1,
.col-md-5 h1 {
  font-size: 4rem;
}
#careers_mosiac img,
.col-md-12 img,
.col-md-7 img,
.col-md-5 img {
  transition: all 0.5s ease-in-out;
}
#careers_mosiac img.darken,
.col-md-12 img.darken,
.col-md-7 img.darken,
.col-md-5 img.darken {
  opacity: .75;
}
#careers_mosiac figure,
.col-md-12 figure,
.col-md-7 figure,
.col-md-5 figure {
  overflow: visible;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#careers_mosiac figure.move-right,
.col-md-12 figure.move-right,
.col-md-7 figure.move-right,
.col-md-5 figure.move-right {
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
}
.quote::before {
  width: 51px;
}
.quote {
  background: url(../img/quotes.png) no-repeat 20% 30%;
  font-size: 2rem;
  overflow: visible;
}
.quote span {
  display: block;
  float: right;
}
.animated.duration-quarter {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
}
.animated.duration-half {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.animated.duration-three-quarter {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
.animated.duration-one {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.duration-one-quarter {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
}
.animated.duration-one-half {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.animated.duration-one-three-quarter {
  -webkit-animation-duration: 1.75s;
  animation-duration: 1.75s;
}
.animated.duration-two {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.animated.duration-two-half {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}
.animated.duration-three {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.animated.delay-1 {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
.animated.delay-2 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.animated.delay-quarter {
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}
.animated.delay-3 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.animated.delay-4 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.animated.delay-half {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.animated.delay-6 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.animated.delay-7 {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.animated.delay-three-quarter {
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}
.animated.delay-8 {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
.animated.delay-9 {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.animated.delay-one {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.animated.delay-one-quarter {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
.animated.delay-one-half {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.animated.delay-one-three-quarter {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}
.animated.delay-two {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.animated.delay-two-half {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.animated.delay-three {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.what_we_do {
  height: 486px;
  background: url('../img/road.jpg') no-repeat;
}
.what_we_do .overlay {
  padding: 15% 5% 3%;
  background-color: rgba(74, 60, 49, 0.3);
}
.what_we_do .overlay:hover {
  background-color: rgba(74, 60, 49, 0.5);
}
.what_we_do .overlay:hover figure {
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
}
.what_we_do .overlay:hover figure h1:nth-of-type(1) {
  color: #EBB701;
}
.what_we_do .overlay:hover figure h1:nth-of-type(2) {
  color: #01B0CA;
}
.what_we_do .overlay:hover figure h1:nth-of-type(3) {
  color: #69BE28;
}
.what_we_do .overlay:hover .link a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.what_we_do .overlay figure {
  margin: 25% 10% 3%;
}
.what_we_do .overlay figure h1 {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-size: 4.5rem;
  margin: 10px 0;
}
.what_we_do .overlay figure h1:nth-of-type(1) {
  -webkit-transition-delay: .1s;
  /* Safari */
  transition-delay: .1s;
}
.what_we_do .overlay figure h1:nth-of-type(2) {
  -webkit-transition-delay: .2s;
  /* Safari */
  transition-delay: .2s;
}
.what_we_do .overlay figure h1:nth-of-type(3) {
  -webkit-transition-delay: .3s;
  /* Safari */
  transition-delay: .3s;
}
.what_we_do .link {
  right: 10%;
}
.why_simplot {
  background: #00b0ca;
}
.why_simplot figure {
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  overflow: visible;
}
.why_simplot figure.move {
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.why_simplot .link {
  right: 38%;
}
.why_simplot .quote {
  padding: 5% 0 0 25%;
}
.why_simplot .quote em {
  display: block;
  padding-left: 51px;
}
.apply_now {
  background: #ebb700;
}
.apply_now figure.move {
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
}
.apply_now h1 {
  margin: 10% 0 10px;
}
.apply_now .subtitle {
  max-width: 250px;
}
.apply_now .link {
  right: 50px;
}
.student_center {
  padding: 3% 5%;
  background: #bd4f19;
  height: 243px;
}
.student_center figure.move {
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
}
.student_center h1 {
  margin: 10px 0;
}
.student_center .link {
  right: 10%;
}
.video {
  height: 243px;
  background: url(../img/video_capture.jpg) no-repeat;
}
.video .overlay {
  opacity: .75;
  background: #675C53;
  background-color: rgba(103, 92, 83, 0.5);
}
.video .overlay i.fa {
  height: 125px;
  width: 125px;
  text-align: center;
  position: relative;
  top: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  font-size: 125px;
}
.video .overlay:hover {
  opacity: .95;
}
.contact_us {
  padding: 3% 5%;
  height: 243px;
  background: #69be28;
}
.contact_us figure.move {
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
}
.contact_us h1 {
  font-size: 2.5em;
  margin: 10px 0;
}
.contact_us .link {
  right: 10%;
}
/* WHY SIMPLOT */
.carousel .item {
  padding: 15px 15%;
  background: rgba(152, 143, 134, 0.5);
}
.carousel .item img {
  margin: 0 auto;
  border: 2px solid #fff;
}
.carousel .item h3 {
  color: #fff;
  margin-top: 20px;
  font-size: 1.5em;
  padding-left: 71px;
}
.carousel .item p {
  margin-top: 15px;
  margin-left: 5%;
  color: #675C53;
}
.carousel .item p .intro {
  font-size: 1.2em;
  font-weight: 900;
}
.carousel .item .quote {
  background-position: 0 0;
  margin-left: 5%;
  font-style: italic;
}
.carousel .carousel-indicators {
  bottom: 0;
}
.section {
  margin-top: 50px;
}
.why_simplot_title h1 span {
  text-transform: none;
  font-size: .75em;
  font-weight: 100;
}
.numbers {
  text-align: center;
}
.numbers span.number {
  display: block;
  margin: 0 auto;
  font-weight: 900;
  margin-top: -50px;
  font-size: 150px;
  color: #EBB700;
}
.numbers label {
  margin-top: -30px;
  display: block;
  font-size: 1.5em;
}
.reward {
  padding: 10px auto;
}
.reward img {
  max-width: 25%;
  padding-right: 7%;
}
.giving_back {
  background-color: #ebebeb;
}
.giving_back h3 {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
.giving_back p {
  margin-left: 10%;
  margin-right: 10%;
}
.giving_back img {
  margin-top: 15px;
  margin-bottom: 15px;
}
.grid {
  color: #fff;
  margin-left: -15px;
  width: 103.5%;
}
.grid .col-md-6,
.grid .col-sm-6 {
  padding: 0;
}
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 1%;
  min-height: 334px;
  width: 100%;
  background: #BD4F19;
  text-align: center;
  cursor: pointer;
}
.grid figure img {
  position: relative;
  display: block;
  opacity: 0.7;
}
.grid figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
/*---------------*/
/***** Sadie *****/
/*---------------*/
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(103, 92, 83, 0) 0%, rgba(103, 92, 83, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(103, 92, 83, 0) 0%, rgba(103, 92, 83, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
figure.effect-sadie h2 {
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(103, 92, 83, 0.66);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-sadie figcaption p {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5em;
  width: 100%;
  opacity: 0;
  font-size: .8em;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}
figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.good_fit {
  background: #BD4F19;
}
.good_fit figure {
  text-align: left;
  padding: 15%;
  -webkit-transform: translate(0, 20%);
  transform: translate(0, 20%);
}
.good_fit figure .link a {
  width: auto;
  height: auto;
  position: relative;
  opacity: 1;
  font-size: inherit;
  background: none;
  text-indent: 0;
  z-index: auto;
  font-size: 3em;
}
.good_fit .subtitle {
  font-size: 1.5em;
  display: block;
}
.good_fit h1 {
  font-size: 2.5em;
}
.good_fit .overlay {
  z-index: 1000;
}
.tabs_custom .nav li:nth-of-type(1).active a {
  background: #ebb700;
}
.tabs_custom .nav li:nth-of-type(2).active a {
  background: #00b0ca;
}
.tabs_custom .nav li:nth-of-type(3).active a {
  background: #bd4f19;
}
.tabs_custom .nav li:nth-of-type(4).active a {
  background: #69be28;
}
.tabs_custom .nav li {
  width: 25%;
  text-align: center;
}
.tabs_custom .nav li a {
  text-decoration: none;
  font-weight: 900;
}
.tabs_custom .tab-pane {
  padding: 15px;
}
.tabs_custom .tab-pane#ab {
  background: #ebb700;
}
.tabs_custom .tab-pane#fg {
  background: #00b0ca;
}
.tabs_custom .tab-pane#ll {
  background: #bd4f19;
}
.tabs_custom .tab-pane#corp {
  background: #69be28;
}
